{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>박보검의 게시판</h1>
{% comment %} src : 경로, alt : 대체 {% endcomment %}
    <img src="{% static "tiger.png" %}" alt="호랑이">

    <hr>
        {% comment %} create가 post요청이니 게시글생성버튼은 form태그로 만들어야 할까?? {% endcomment %}
        <a href="{% url "articles:create" %}">글쓰기</a>
    <hr>
    
    {% comment %} views.py에서 context로 넘겨준 key값 {% endcomment %}
    {% comment %} DTL for문 {% endcomment %}
    {% for article in articles %}
        {% comment %} DTL 변수(콧수염괄호) {% endcomment %}
        <p>글 id : {{article.pk}}</p>
        <a href="{% url "articles:detail" article.pk %}">
            <p>글 제목 : {{article.title}}</p>
        </a>
        <p>글 내용 : {{article.content}}</p>
        <hr>
    {% endfor %}
{% endblock content %}